
{% extends "_layout" %}

{% block head %}
{% endblock %}

{% block content %}

<!-- title START -->
<div id="title" class="title_features">
    <div class="wrapper">
        <div id="title_text">
        <h1>{{ entry.titleHeading|striptags('<strong><em>')|raw }}</h1>
        <p>{{ entry.titleSubHeading|striptags('<strong><em>')|raw }}</p>
        </div>
        <div id="title_img">
            <img src="ui/images/title-features-img.png" alt="" />
        </div>
    </div>
</div>
<!-- title END -->

<!-- allinone START -->
<div id="allinone">
    <div class="wrapper">
        <div id="allinone_tiles">
            <div class="allinone_tile allinone_tile_title">
                {{ entry.solutionsIntro }}
            </div>
            {% for block in entry.solutions.all() %}            
                <div class="allinone_tile allinone_tile_hover">
                    <div class="allinone_tile_off">
                        <img src="{% set rel = block.solutionBackgroundImage.one() %}{% if rel %}{{ rel.url }}{% endif %}" alt="" />
                        <div class="allinone_tile_off_text">{{ block.solutionTitle }}</div>
                    </div>
                    <div class="allinone_tile_on">
                        <div class="allinone_tile_on_icon"><img src="{% set rel = block.solutionIcon.one() %}{% if rel %}{{ rel.url }}{% endif %}" alt="" /></div>
                        <div class="allinone_tile_on_text">
                            <h3>{{ block.solutionTitle }}</h3>
                            <p>{{ block.solutionDescription }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if entry.button|length %}
          {% for row in entry.button %}
            <a href="{{ row.buttonUrl }}" class="button">{{ row.buttonLabel }}</a>
          {% endfor %}
        {% endif %}
    </div>
</div>
<!-- allinone END -->

<!-- formStarted START -->
<div class="startUsingForm">
    <div class="wrapper">
        <div class="startUsingForm_text">
            <h2>{{ entry.startUsingTitle|striptags('<strong><em>')|raw }}</h2>
            {{ entry.startUsingDescription }}
            <div class="startUsingForm_text_img"><img src="ui/images/startusingform-img.png" alt="" /></div>
        </div>
        <div class="startUsingForm_form">
            <h2>Get started <em>Today!</em></h2>
            {% macro errorList(errors) %}
                {% if errors %}
                    {{ ul(errors, {class: 'errors'}) }}
                {% endif %}
            {% endmacro %}
            {% set submission = submission ?? null %}
            <form method="post" action="" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('contact-form/send') }}
                {{ redirectInput('success') }}
                <input type="hidden" id="fromName" name="fromName">
                <input type="hidden" id="subject" name="subject" value="Website Contact Form">
                <ul>
                  <li class="fieldHalf">
                    <input type="text" id="firstName" name="message[firstname]" placeholder="First Name">
                  </li>
                  <li class="fieldHalf">
                    <input type="text" id="lastName" name="message[lastname]" placeholder="Last Name">
                  </li>
                  <li class="feildFull">
                    <input type="text" name="fromEmail" placeholder="Email Address" required>
                    {{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}
                  </li>
                  <li class="fieldHalf">
                    <input type="text" name="message[company]" placeholder="Company Name">
                  </li>
                  <li class="fieldHalf">
                    <input type="text" name="message[region]" placeholder="Company Region">
                  </li>
                  <li class="fieldButton"><button class="button">Start Civilogs for Free</button></li>
                </ul> 
            </form>
        </div>
    </div>
</div>
<!-- formStarted START -->
        
{% endblock %}
    
{% block scripts %}
{% endblock %}